.speech {
    background: #D5D5D5;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow:  7px 30px 100px #FFF;
    transition: 0.5s;
    animation: speech .7s linear 1;
    font-size: 18px;
}
.speech::after {
    content: '';
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: #D5D5D5;
    border-right-color: #D5D5D5;
    right: 33%;
    top: 60%;
    transform: skewX(40deg);
    transform-origin: 100% 100%;
}
/* @keyframes speech {
    0% {top: -20px;}
    25% {top: 5px; box-shadow: 7px 40px 40px #D5D5D5;}
    50% {top: 20px;}
    75% {top: -20px; box-shadow: 7px -10px 50px #D5D5D5;}
    100% {top: -20px;}
} */
